:root{
	--color-mint: #afffda;
	--color-navy: #234468;
	--color-light-blue: #bacbd9;
}

h1{
	font-family: 'Spartan', sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	color: #2a2a2a;
}

h1, h2, h3, h4, h5, h6{
font-family: 'Spartan', sans-serif;
margin-bottom: 0;
}

.highlight-light{
	color: var(--color-mint);
	font-family: 'Spartan', sans-serif;
	font-weight: 900;
	font-family: 'Noto Serif', serif;
	white-space: pre;
}
.highlight-dark{
	color: var(--color-navy);
	font-family: 'Spartan', sans-serif;
	font-weight: 900;
	font-family: 'Noto Serif', serif;
}

.background-highlight-light{
	background: linear-gradient(0deg, var(--color-mint) 60%, transparent 60%);
	display: inline-block;
	padding: 0 .25em;
	margin-left: -.25em;
	margin-bottom: 0;
	color: #234468;

}

footer{
	background-color: var(--color-navy);
	padding: 2em 0;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: -1;
}

body, p{
	    font-family: 'Noto Serif', serif;
}

main{
	position: relative;
	z-index: 1;
	background-color: white;
	margin-bottom: 6em;
}

.content{
	padding: 0 2rem;
	max-width: 40rem;
	margin: 0 auto;
}

.content-wide{
		padding: 0 2rem;
	max-width: 60rem;
	margin: 0 auto;
}
p{
	line-height: 2em;
	font-size: 16px;
	color: #2a2a2a;

}

.button{
	padding: 1em 1.7em;
	display: inline-block;
	margin-top: 1em;
	border-radius: 5px;
	transition: .3s ease;
		font-weight: 900;
		font-family: 'Spartan', sans-serif;
		text-transform: uppercase;
		border: none;
		outline: none;

}

.button:hover{
	box-shadow: 0 5px 10px rgb(0 0 0 / .1);
	border-radius: 25px;
	color: var(--color-navy);
	background-color: var(--color-mint);
	cursor: pointer;
}

.button-navy{
	color: var(--color-mint);
	background-color: var(--color-navy);


}

.button-mint{
	color: var(--color-navy);
	background-color: var(--color-mint);
}

.card{
	padding: 2em;
		border-radius: 0px;
	box-shadow: 0 15px 20px rgb(0 0 0 / .1);
	margin-top: 2em;
	width: 100%;
	text-align: center;
	transition: .3s ease;
	flex-basis: 125px;
	flex-grow: 1;
	background-color: white;
}

main .card:hover{
	transform: scale(1.1);
	box-shadow: 0 25px 60px rgb(0 0 0 / .05);
	z-index: 1;
}

.card-highlight-top{
	border-top: solid 5px var(--color-navy);

}

.card img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
}

.grid{
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	align-items: stretch;
	column-gap: 2em;
	flex-wrap: wrap;
}

.spacer{
	height: 10em;
}

.modal{
	background-color: #23446899;
	opacity: 1;
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 2;
	backdrop-filter: blur(5px) grayscale(.5) ;
	overflow-y: auto;
}

.modal .content{
position: relative;
}

.background-video-header{
	min-height: 500px;
	height: 70vh;
	background-color: var(--color-navy);
	background-image: url('https://images.unsplash.com/photo-1497015289639-54688650d173?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=3578&q=80');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	overflow: hidden;
	position: relative;

}

.background-video-header::before{
	background-color: #234468cc;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	content: '';
	opacity: 1;
	backdrop-filter: blur(5px) grayscale(1)
}

.background-video-header .content{
	position: relative;
	z-index: 2;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}

.background-video-header p {
	color: var(--color-light-blue);
	font-size: 24px;
}

.custom-shape-divider-bottom-1616178221 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 1;
}

.custom-shape-divider-bottom-1616178221 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1616178221 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-top-1616185921 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg) translateX(50%);
        min-width: 1000px;
        left: 50%;

}

.custom-shape-divider-top-1616185921 svg {
    position: relative;
    display: block;
    width: calc(155% + 1.3px);
    height: 251px;
}

.custom-shape-divider-top-1616185921 .shape-fill {
    fill: #234468;
}

.custom-shape-divider-top-1616185972 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg) translateX(50%);
    z-index: -1;
    min-width: 1000px;
    left: 50%;
}

.custom-shape-divider-top-1616185972 svg {
    position: relative;
    display: block;
    width: calc(142% + 1.3px);
    height: 382px;
}

.custom-shape-divider-top-1616185972 .shape-fill {
    fill: #BACBD9;
}

.logo{
	max-width: 70vw;
	padding: 1em;
}

input, textarea{
	font-size: 16px;
padding: 1em;
width: calc(100% - 2em);
border: none;
outline: none;
background-color: #bacbd944;
border-radius: 5px;
text-align: left;
}

.modal p{
	text-align: left;

}

.modal label{
	font-family: 'Spartan', sans-serif;
	font-weight: 900;
	color: var(--color-navy);
}

.modal input, .modal textarea{
	font-family: 'Noto Serif', serif;
}

textarea{
	resize: vertical;
	height: 200px;
}

.modal .card{
	transform: scale(0,0);
	transition: .3s ease;
	width: calc(100% - 4em);
}

.modal h1{
	margin-top: 1em;
	margin-bottom: 1em;
}

.modal.active .card{
	transform: scale(1,1)
}

.modal .exit{
color: var(--color-navy);
font-size: 2em;
position: absolute;
right: 0;
top: 0;
z-index: 2;
margin: 0;
font-family: 'Spartan';
padding: .75em 1em;
transition: .3s ease;
display: inline-block;
line-height: 0;
line-height: 1em;
}

.modal .exit:hover{
	cursor: pointer;
	background-color: var(--color-mint);
	color: var(--color-navy);
}

.testimonial{
	height: 30em;
	position: relative;
	background-color: var(--color-navy);
	margin-top: 7em;
	padding-top: 3em;
}



.contact-us-container{
	position: relative;
	padding-top: 500px;
}

#myVideo{
	position: absolute;
z-index: 0;
height: 100%;
width: 100%;
object-fit: cover;
object-position: center center;
}